@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Send message through all registered senders</h2>
<a asp-page="MultiMessage" asp-route-username="Joe Bloggs" class="btn btn-primary">Send Message</a>
